<div class="header">
  <p-button
    (onClick)="onGoToListClick()"
    icon="pi pi-list"
    label="Перейти к списку пользователей"
    severity="info"
  />

  <p-button
    *ngIf="isDetailsMode"
    (onClick)="onEditClick()"
    icon="pi pi-user-edit"
    label="Редактировать"
    severity="info"
  />

  <p-button
    *ngIf="!isDetailsMode && !isAddMode"
    (onClick)="onDeleteClick()"
    icon="pi pi-trash"
    label="Удалить"
    severity="danger"
  />
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <label for="username">Логин</label>
    <input
      [class.details-view]="isDetailsMode"
      formControlName="username"
      id="username"
      pInputText
      type="text"
    />
    <label for="name">Имя пользователя</label>
    <input
      [class.details-view]="isDetailsMode"
      formControlName="name"
      id="name"
      pInputText
      type="text"
    />
  </div>

  <div class="form-row">
    <label for="email">Email</label>
    <input
      [class.details-view]="isDetailsMode"
      formControlName="email"
      id="email"
      pInputText
      type="text"
    />
    <label for="phone">Телефон</label>
    <input
      [class.details-view]="isDetailsMode"
      formControlName="phone"
      id="phone"
      pInputText
      type="text"
    />
    <label for="website">Сайт</label>
    <input
      [class.details-view]="isDetailsMode"
      formControlName="website"
      id="website"
      pInputText
      type="text"
    />
  </div>

  <p-fieldset legend="Адрес">
    <div class="form-group" formGroupName="address">
      <div class="form-row">
        <label for="city">Город</label>
        <input
          [class.details-view]="isDetailsMode"
          formControlName="city"
          id="city"
          pInputText
          type="text"
        />
        <label for="street">Улица</label>
        <input
          [class.details-view]="isDetailsMode"
          formControlName="street"
          id="street"
          pInputText
          type="text"
        />
        <label for="suite">Офис</label>
        <input
          [class.details-view]="isDetailsMode"
          formControlName="suite"
          id="suite"
          pInputText
          type="text"
        />
      </div>
  
      <div class="form-row">
        <label for="zipcode">Индекс</label>
        <input
          [class.details-view]="isDetailsMode"
          formControlName="zipcode"
          id="zipcode"
          pInputText
          type="text"
        />

        <div class="form-row" formGroupName="geo" style="flex-grow: 1;">
          <label for="lat">Широта</label>
          <p-inputNumber
            [class.details-view]="isDetailsMode"
            [maxFractionDigits]="4"
            [minFractionDigits]="4"
            formControlName="lat"
            id="lat"
          />
          <label for="lng">Долгота</label>
          <p-inputNumber
            [class.details-view]="isDetailsMode"
            [maxFractionDigits]="4"
            [minFractionDigits]="4"
            formControlName="lng"
            id="lng"
          />
        </div>
      </div>
    </div>
  </p-fieldset>

  <p-fieldset legend="Компания">
    <div class="form-row" formGroupName="company">
      <label for="companyName">Название</label>
      <input
        [class.details-view]="isDetailsMode"
        formControlName="name"
        id="companyName"
        pInputText
        type="text"
      />
      <label for="catchPhrase">Слоган</label>
      <input
        [class.details-view]="isDetailsMode"
        formControlName="catchPhrase"
        id="catchPhrase"
        pInputText
        type="text"
      />
      <label for="bs">Направление</label>
      <input
        [class.details-view]="isDetailsMode"
        formControlName="bs"
        id="bs"
        pInputText
        type="text"
      />
    </div>
  </p-fieldset>

  <p-button
    *ngIf="!isDetailsMode"
    [disabled]="!form.dirty"
    [label]="submitButtonText"
    (onClick)="onSubmit()"
    class="submit-button"
    icon="pi pi-check"
    severity="info"
  />
</form>
