:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  .main-container {
    width: 1200px;
    height: 100%;
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
  }

  @media screen and (max-width: 1200px) {
    .main-container {
      width: 100%;
      border: none;
    }
  }
}
